<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="15.14" />
  <package id="7zip.commandline" version="9.20.0.20130618" />
  <package id="7zip.install" version="15.14" />
  <package id="binroot" version="0.04" />
  <package id="chocolatey" version="0.9.9.12" />
  <package id="ChocolateyGUI" version="0.13.2" />
  <package id="cmder" version="1.1.4.100" />
  <package id="cmder.portable" version="1.1.4.100" />
  <package id="ConEmu" version="16.5.4.0" />
  <package id="ConsoleZ" version="1.17.0.16129" />
  <package id="DotNet4.0" version="4.0.30319.20141222" />
  <package id="dotPeek" version="1.3" />
  <package id="git" version="2.8.2" />
  <package id="git.install" version="2.8.2" />
  <package id="GnuWin" version="0.6.3.1" />
  <package id="ilspy" version="2.3.0.1827" />
  <package id="mingw" version="5.3.0" />
  <package id="nodejs.install" version="0.12.6" />
  <package id="nyagos" version="4.0.9.2" />
  <package id="PomoTime" version="1.8" />
  <package id="PowerShell" version="5.1.14409.20170510" />
  <package id="vcredist2010" version="10.0.40219.1" />
  <package id="vim" version="7.4.1641" />
  <package id="vim-x64" version="7.4.1817" />
  <package id="vim-x64.install" version="7.4.1817" />
</packages>